# ===========================
# Node.js
# ===========================
**/node_modules/

# ===========================
# Expo
# ===========================
**/.expo/
**/.expo-shared/

# ===========================
# Variables de entorno
# ===========================
**/.env

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Build
# ===========================
dist/
build/

# ===========================
# Sistema operativo
# ===========================
.DS_Store
Thumbs.db

# VS Code
**/.vscode/

# Carpeta de uploads antigua
backend/uploads/

backend/certificados/