# Servidor
PORT=3000

# Base de datos
DB_HOST=tu_host_aiven
DB_PORT=18994
DB_USER=avnadmin
DB_PASSWORD=tu_password
DB_NAME=defaultdb

# Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret